

<section class="show">

<a href="<%= new_video_path %>"><p class="menu">Add a clip</p><img class="show_play" src="/record_button.png" /></a>
<a href="/"><img class="show_logo" src="vhs_tube_logo.png" /></a>
<div class="genre_menu">
  
  <div class="menu">Filter By Genre</div>
  <ul>
    <li><a href="<%= videos_path %>">All</a></li>
    <% @genre_list.each do |genre| %>
      <li><a href="?filter=<%= genre %>"><%= genre %></a></li>
    <% end %>
  </ul>
  <img class="show_filter" src="/filter.png" />
</div>




    <div class="tv">
      <img src="old_tv_cropped.png" />
    </div>

</section>




<section class="library">

   
    <% @users_videos.each do |video| %>
         <div class="video">
            <img class="video_spine" src='vhs_spine.jpg' />
            <h3 class="video_title"> <%= video.title %> : <%= video.genre %></h3>
            <p class="description">  Title: <%= video.title %> <br />Description: <%= video.description %> <br /> Genre: <%= video.genre %> </p>    
             <img class="youtube" src="http://img.youtube.com/vi/<%= video["url"] %>/2.jpg" /> 
            <a class="delete" href="<%= video_delete_path(video) %>"a>Delete</a>
            <a class= "edit" href="<%= edit_video_path(video) %>"a>Edit</a>
            <a href="<%= video_path(video) %>"><img class="play_button" src='play_button.png' /></a>
         </div>
    <% end %>
    
</section>










